body{
    margin: 0;
    background-color: rgba(0, 141, 0, 0.804);
    font-family: 'Kanit', sans-serif;
}

.quest{
    text-align:  center;
    background-color: rgb(36, 33, 33);
    padding: 5em;
    width:  30%;
    margin-left: 30%;
    border-radius: 20px;
    margin-top: 5%;
    color: #fff;
}

#dieta{
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(36, 100, 36);
    color: #fff;
    border:  none;
    padding: 15px;
    width: 220px;
    cursor: pointer;
}